@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500;600;800&family=Josefin+Slab:ital,wght@0,200;0,300;0,400;0,500;1,300;1,400&family=Mulish:ital,wght@0,300;0,600;1,200;1,300;1,400;1,500&family=Open+Sans&display=swap');

* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.topo {
    position: relative;
    width: 100%;
    margin: 0 auto;
    background-color: rgba(101, 53, 155, 1);
}

.cabecalho {
    width: 1200px;
    margin: -3px auto;
    position: relative;

}

.logo {
    position: relative;
    width: 20%;
    display: inline-block;
    padding: 10px;
}

.logo img {
    width: 97px;
}

.menu {
    width: 80%;
    padding: 10px;
    float: right;
    display: inline-block;
}

.menu ul li {
    text-decoration: none;
    list-style: none;
    display: inline;
    font-weight: bold;

}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    padding: 20px;
    display: inline-block;

}

.menu li a:hover {
    color: rgba(250, 212, 220, 1);
}

footer {
    background-color: rgba(101, 53, 155, 1);
    height: 100px;
    margin-top: 30px;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p {
    background-color: rgba(101, 53, 155, 1);
    color: white;
    margin: none;
    padding: none;
    text-align: center;
    padding-bottom: 10px;
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
}

footer img {
    width: 80px;
    padding: 12px 0;
}

/*formatação pagina Index */

.jumbotron {
    background-image: url("../Imagens/BandTrans.jpg");
    height: 400px;
    width: 100%;
}

.jumbotron h1 {
    margin-top: 80px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.6);
}

.jumbotron p {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.6);
}

#imgDados {
    margin: 0 auto;
    width: 800px;
}


main section.dados {

    overflow: auto;
    display: flex;
    margin: 40px;

}

main article {
    margin: 40px 40px 40px 40px;
    width: 400px;
    height: 500x;
    text-align: center;

}

main p.paragrafoDados {
    font-size: 12pt;
    padding: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    height: 500x;
    border-radius: 1.2rem;
    border: 1px solid rgba(73, 123, 165, 0.4);
    background-color: none;
}

/*formatação pagina Vagas */

.vagas_titulo {
    text-align: center;
    text-decoration: solid;
    text-transform: uppercase;
    color: #788bdd;
    font-size: 60px;
    font-weight: bolder;

}

.vagas {
    border: none;
}

.Card {
    width: 300px;
    height: 350px;
    border: 1px solid rgba(73, 123, 165, 0.4);
    border-radius: 1.2rem;
}


.Card-info {
    padding: 2rem;
}

.card-info-texto {
    padding: 30px;
}

.Card-info button {
    position: relative;
    left: 150px;
    bottom: -130px;
    border-radius: 1.2rem;
    background-color: rgba(101, 53, 155, 1);
    border: none;
    padding: 10px;
    color: white;
}


.vagas_titulo {
    font-size: 80px;
    text-decoration: solid;
    text-transform: uppercase;
    color: rgba(52, 113, 163, 0.4);
}

.Card {
    width: 300px;
    height: 350px;
    border: 1px solid rgba(10, 10, 10, 0.4);
    border-radius: .4rem;
    box-shadow: 1px 1px 1px .5px rgba(0, 0, 0, 0.2);
}

#borda {
    border: 1px solid rgba(10, 10, 10, 0.4);
    box-shadow: 1px 1px 1px .5px rgba(0, 0, 0, 0.2);
    border-radius: 1.4rem;
    padding: 20px;

}

.row {
    border-radius: 1.4rem;
    padding: 20px;
}

/* Fomatação da Pagina Cursos */

#formBotaoCurso1 {
    border-radius: 1.2rem;
    background-color: rgba(101, 53, 155, 1);
    border: none;
    color: white;
    padding: 10px;
    margin-top: 50px;
    display: inline;
    flex-direction: row;
    margin-left: 440px;
    cursor: pointer;
}

#formBotaoCurso {
    border-radius: 1.2rem;
    background-color: rgba(101, 53, 155, 1);
    border: none;
    color: white;
    padding: 10px;
    margin-top: 50px;
    display: inline;
    flex-direction: row;
    margin-left: 30px;
    cursor: pointer;
}

.botoes-cursos {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 40px;

}

/* Fomatação da Pagina Contato */

#formBotao {
    border-radius: 1.2rem;
    background-color: rgba(101, 53, 155, 1);
    border: none;
    color: white;
    padding: 10px;
}

/* Fomatação da Pagina Quem Somos */

.membros {
    display: flex;  
    justify-content: space-around;
    border: none;
    margin-bottom: 5px;
}


/* Formatação da pagina Login  */


.form-login {
    margin: 2rem auto;
    font-size: 18px;
    color: #171717;
    width: 55%;
    width: 300px;
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 1rem;
}

.label-login {
    width: 80px;
    padding-top: 10px;
    text-align: center;

}

.input-login {
    height: calc(2.25rem + 10px) !important;

}

.copyright {
    font-size: 14px;
}

.w1 {
    text-align: center;
    padding: 10px;
}

.botao {
    border-radius: 1.2rem;
    background-color: rgba(101, 53, 155, 1);
    border: none;
    color: white;
    padding: 10px;
    display: inline;
    flex-direction: row;
    cursor: pointer;

}

/* Formatação da pagina Cadastro */

.botao-cadastro {
    border-radius: 1rem;
    background-color: rgba(101, 53, 155, 1);
    border: none;
    color: white;
    padding: 15px;
    margin-top: 50px;
    display: inline;
    flex-direction: row;
    cursor: pointer;

}


.formulario {
    margin: 0;
    padding: 1em;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.title {
    color: var(--main);
    font-size: 32px;

}

.intro-texto {
    color: var(--text);
    font-size: 20px;
    font-weight: 400;
}

.formulario h3 {
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    color: var(--main);
}

form {
    margin: 2rem auto;
    font-size: 18px;
    color: #171717;
    width: 55%;
}

input,
select,
textarea,
option {
    padding: 3px;
    border: none;
    border-bottom: 1px solid;
    font-size: 16px;
    font-weight: 200;
}


fieldset {
    border: none;
    display: flexbox;
    flex-direction: column;
    width: 100%;
    margin: 0 20px;
    flex-wrap: wrap;

}

form h2 {
    color: var(--main);
    font-weight: 200;
    margin: 10px;
}


span {
    font-size: 14px;
    color: red;
    display: inline-block;
    font-weight: 400;
}

.check {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
}

span.material-icons {
    color: var(--main);
    font-size: 150px;
}

.check h4 {
    margin-top: 15px;
    font-weight: 500;
    font-size: 32px;
    color: #171717;
}

.check p {
    font-weight: 300;
    font-size: 22px;
    color: #171717;
    margin-bottom: 5px;
}

.check button {
    width: 200px;
    margin-bottom: 10px;
}

.check a {
    text-decoration: none;
    color: #171717;
    margin-top: 0;
}

a:hover {
    text-decoration: underline;
}